<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding1" />
                <binding name="CalculatorSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculatorSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CalculatorSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://core.pomix.pmo.ir/soap/Invoke" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding" contract="ServiceReferenceBANADER.MassanSoapServiceProvider"
                name="BasicHttpsBinding" />
            <endpoint address="https://156.56.179.164:9443/services/Calculator.CalculatorHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap11Binding"
                contract="ServiceReferenceadd.CalculatorPortType" name="CalculatorHttpsSoap11Endpoint" />
            <endpoint address="http://156.56.179.164:9763/services/Calculator.CalculatorHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap11Binding1"
                contract="ServiceReferenceadd.CalculatorPortType" name="CalculatorHttpSoap11Endpoint" />
            <endpoint address="http://156.56.179.164:9763/services/Calculator.CalculatorHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="CalculatorSoap12Binding"
                contract="ServiceReferenceadd.CalculatorPortType" name="CalculatorHttpSoap12Endpoint" />
            <endpoint address="https://156.56.179.164:9443/services/Calculator.CalculatorHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="CalculatorSoap12Binding"
                contract="ServiceReferenceadd.CalculatorPortType" name="CalculatorHttpsSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>